* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather, Inter;
}
body {
  max-width: 1440px;
  margin: 50px auto 0;
}
/* Header Banner Style Start */
header {
  background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0.72),
      hsla(0, 0%, 0%, 0.42)
    ),
    url("/Images/Banner_Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 620px;
  border-radius: 16px;
}
nav {
  height: inherit;
}
nav h3 {
  color: #fff;
  padding: 177px 0 16px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
nav h2 {
  width: 632px;
  margin: 10px auto;
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}
/* Header Banner Style End */
/* Discount Section Start */
.discount {
  margin: 120px auto;
}
.discount-amount {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.discount-description {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin: 48px 0 16px;
}
.discount-category {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.discount-image img {
  display: block;
  margin: 0 auto;
  border: 2px solid blue;
}
/* End of Discount Section */

/* Start of Midnight Party Section */
.midnight-party {
  background-color: white;
  background-image: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.82),
      hsla(0, 0%, 0%, 0.223)
    ),
    url("/Images/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  border-radius: 16px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}
.party-info {
  width: 700px;
  margin-top: 126px;
  margin-left: 126px;
}
.party-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}
.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 48px;
}
.party-info button {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin-left: 32px;
}
/* End of Midnight Party Section */

/* Start of Event Info Section */
.event-info-container {
  height: 482px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 120px auto 120px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.9);
}
.event-details {
  margin-top: 100px;
}
.event-details p {
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.event-timing {
  color: #f00;
  font-family: Inter;
}
.join-button {
  padding: 16px 32px;
  border-style: none;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}
.button {
  text-align: center;
  margin-top: 48px;
}
/* End of Event Section */

/* New Best Offer Section */
.best-offer-container {
  display: flex;
  gap: 70px;
  justify-content: space-between;
  align-items: center;
}
.offer-details {
  width: 33.33%;
}
.offer-details h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.offer-details h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.offer-details p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.offer-image {
  width: 33.33%;
  border-radius: 50%;
  border: 15px solid #f00;
  padding: 40px;
}
.offer-year {
  width: 33.33%;
}
.offer-year h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.offer-year p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 44px;
}
/* End of New Best Offer */

/* Start of Holiday Sale Section */
.holiday-sale-container {
  margin-top: 120px;
}
.holiday-sale-info {
  text-align: center;
  margin-bottom: 64px;
}
.holiday-sale-info h3 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-sale-info h2 {
  margin-top: 16px;
  margin-bottom: 22px;
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.holiday-sale-info p {
  max-width: 1068px;
  margin: 0 auto;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

/* .column {
  float: left;
}
.surprise-box{
  width: 45%;
}
.discount-box{
  width: 10%;
  z-index: 5;
}
.discount-box img{
  border: 10px solid rgb(252, 15, 15);
  border-radius: 50%;
}
.girl-with-bag{
  width: 45%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
} */
.holiday-sale-banner-container {
  position: relative;
}
.item-pic-1 {
  position: absolute;
  z-index: 1;
  left: 50px;
}
.item-pic-2 {
  position: absolute;
  left: 1011px;
}
.item-pic-3 {
  position: absolute;
  right: 275px;
  top: 75px;
}
.item-pic-4 {
  position: absolute;
  top: 430px;
}
